{% extends 'site1/base.html' %}
{%load static%}
{% block loseweight-content%}
    <!--Body-->
    <section class="ddt_first">

        <!--Background-->
        <video id="comp-kq0xqk25_video" class="ddt_main_bg" crossorigin="anonymous" playsinline="" preload="auto" muted="" loop="" tabindex="-1" autoplay="" src="https://video.wixstatic.com/video/11062b_44224902abb84d3d95ec9dfd49ede8d1/1080p/mp4/file.mp4" style="height: 100%; width: 100%; object-fit: cover; object-position: center center; opacity: 1;"></video>
        
        <!--Content-->
        <div class="ddt_content">
            <p class="ddt_first_head">Giảm cân là gì?</p>
        
            <!--Paragraph-->
            <p class="ddt_first_text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, molestiae! Fugit unde tempora
                placeat itaque in, rerum excepturi laboriosam quam quasi at delectus illum voluptatibus illo
                esse maxime numquam harum? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        
            <!--Button-->
            <div class="ddt_button-container">
                <div class="ddt__room-btn">
                    <a href="" class="ddt__border-btn ddt_eating">Đề xuất ăn uống</a>
                </div>
                <div class="ddt__room-btn">
                    <a href="" class="ddt__border-btn ddt_exercise">Đề xuất tập luyện</a>
                </div>
            </div>
        </div>

    </section>
     

<!--Chế độ ăn-->
<section class="properties new-arrival fix ddt_second">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-60 text-center wow fadeInUp">
                    <h2 class="h2_chung">CHẾ ĐỘ ĂN</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="ddt_picking_option">
        <div class="ddt_about-picture-group-2">
            <div class="ddt_about-picture-2">
                <img src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="ddt_picture-title-2">
                    Cơ bản
                </p>
            </div>
            <div class="ddt_about-picture-2">
                <img src="https://images.pexels.com/photos/1346347/pexels-photo-1346347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="ddt_picture-title-2">
                    Nâng cao
                </p>
            </div>   
        </div>
    </div>
</section>

<!--Chế độ ăn cơ bản-->
<section class="ddt_third">
    <div class="ddt_visit-tailor-area ddt_fix">
        <div class="ddt_tailor-offers" style="background-image: url(https://images.pexels.com/photos/8119715/pexels-photo-8119715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);"></div>
        <div class="ddt_tailor-details">
            <h2 class="h2_chung">ĐỀ XUẤT ĂN UỐNG CƠ BẢN
            </h2>
            <p>Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros
                dolor interdum nulla.</p>
            <p class="ddt_pera-bottom">Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros
                dolor interdum nulla.</p>
            <a href="#" class="ddt_btn">
                Xem thêm</a>
        </div>
    </div>
</section>
<br><br><br>

<!--Chế độ ăn nâng cao-->
<section class="ins-2">
    <div class="np__content" style="display: inline-block;">
        <h2 class="h2_chung" style="margin-top: 7px;" class="np__contenta">ĐỀ XUẤT ĂN UỐNG NÂNG CAO</h2>
        <p class="np__contenta">
            Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros
                dolor interdum nulla.
        </p>
        <div class="ddt_tailor-details">
            <a href="#" class="ddt_btn">Discovery more</a>
        </div>
    </div>
    <div class="imgz">
        <img src="https://images.pexels.com/photos/2171077/pexels-photo-2171077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="z" class="anhz">
        <img src="https://images.pexels.com/photos/775032/pexels-photo-775032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="s" class="anhz">
    </div>
</section>

<!--Video-->
<section class="ddt_first">

    <!--Background-->
    <video id="comp-kq0xqk25_video" class="ddt_main_bg" crossorigin="anonymous" playsinline="" preload="auto" muted="" loop="" tabindex="-1" autoplay="" src="https://videos.pexels.com/video-files/6388436/6388436-uhd_3840_2160_25fps.mp4" style="height: 100%; width: 100%; object-fit: cover; object-position: center center; opacity: 1; margin-top: -100px; margin-bottom: 50px;"></video>
    
    <!--Content-->
    <div class="ddt_content">
        <p class="ddt_first_head">Title</p>
    
        <!--Paragraph-->
        <p class="ddt_first_text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, molestiae! Fugit unde tempora
            placeat itaque in, rerum excepturi laboriosam quam quasi at delectus illum voluptatibus illo
            esse maxime numquam harum? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
</section>

<!--Chế độ tập luyện-->
<section class="ddt_second">
        <div class="row justify-content-center">
            {% comment %} <div class="col-xl-7 col-lg-8 col-md-10"> {% endcomment %}
                <div class="section-tittle mb-60 text-center wow fadeInUp">
                    <h2 class="text-center">CHẾ ĐỘ TẬP LUYỆN</h2>
                </div>
            
        </div>
    </div>
    <div class="ddt_picking_option">
        <div class="ddt_about-picture-group-2">
            <div class="ddt_about-picture-2">
                <img src="https://images.pexels.com/photos/4324101/pexels-photo-4324101.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                <p class="ddt_picture-title-2">
                    Cơ bản
                </p>
            </div>
            <div class="ddt_about-picture-2">
                <img src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="ddt_picture-title-2">
                    Nâng cao
                </p>
            </div>   
        </div>
    </div>
</section>


<section class="ddt_third">
    <div class="ddt_visit-tailor-area ddt_fix">
        <div class="ddt_tailor-offers" style="background-image: url(https://images.pexels.com/photos/1199590/pexels-photo-1199590.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);"></div>
        <div class="ddt_tailor-details">
            <h2 class="h2_chung">ĐỀ XUẤT TẬP LUYỆN CƠ BẢN
            </h2>
            <p>Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros
                dolor interdum nulla.</p>
            <p class="ddt_pera-bottom">Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros
                dolor interdum nulla.</p>
            <a href="#" class="ddt_btn">
                Xem thêm</a>
        </div>
    </div>
</section>
<br><br><br>
<section class="ins-2">
    <div class="np__content" style="display: inline-block;">
        <i class="fa-brands fa-instagram fa-5x" style="color: #fd8f5f;"></i>
        <h2 class="h2_chung" style="margin-top: 7px;" class="np__contenta">ĐỀ XUẤT TẬP LUYỆN NÂNG CAO</h2>
        <p class="np__contenta">
            Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros
                dolor interdum nulla.
        </p>
        <div class="ddt_tailor-details">
            <a href="#" class="ddt_btn">Discovery more</a>
        </div>
    </div>
    <div class="imgz">
        <img src="https://images.pexels.com/photos/2294361/pexels-photo-2294361.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="z" class="anhz">
        <img src="https://images.pexels.com/photos/791763/pexels-photo-791763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="s" class="anhz">
    </div>
</section>


{%endblock loseweight-content%}