/* Big tablet to 1200px; */
@media only screen  and (max-width:1200px){
    .ql__slider-content {
        display: none;
    }
}
 
/* Small tablet to big tablet from 768x to 1023px */
@media only screen and (max-width:1023px){
    #nav .subnav a {
        padding: 5px 12px;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }
    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }


    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    .ql__navbar__list {
        display: block;
    }
    .ql__slider-content {
        display: none;
    }
    .ql1234 {
        width: auto !important;
        margin: 0 !important;
    }

    .sample__content {
        width: auto;
    }

    .Ducktai {
        margin-bottom: 500px;
    }

    .ddt__product-item {
        margin-top: 20px;
    }
    
}
 
/* Small phones to small tablets */
@media only screen and (max-width: 767px){
    #nav .subnav a {
        padding: 5px 12px;
    }
    #header {
        overflow: hidden;
        height: 68px;
    }

    #header .mobile-menu-btn {
        display: block;
    }


    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #nav li a {
        line-height: 58px;
        font-size: 1.4rem;
    }

    #nav li {
        height: 60px;
    }

    .ql__slider-content {
        display: none;
    }

    .ql__navbar__item {
        display: block;
    }

    .ql__navbar__form-search {
        display: none;
    }

    .ql__navbar__user-container {
        display: none;
    }

    .ql_css {
        display: none !important;
    }

    .para_ql {
        margin: 0 16px;
    }

    .col {
        width: 100%;
    }

    .ql-s-col-full, 
    .ql-s-col-width {
        width: 100% !important;
    }

    .ql_css {
        display: none;
    }


    .ddt__product-container {
        flex-direction: column;
    }

    .background-nqt {
        margin-top: 600px;
    }
    .ql1234 {
        width: auto !important;
        margin: 0 !important;
    }
    .sample__content {
        width: auto;
    }
    .Ducktai {
        margin-bottom: 500px;
    }
}
 
/* Small phones from 0 to 480px; */
@media only screen and (max-width: 480px){
    #header {
        overflow: hidden;
    }

    .mobile-menu-btn { 
        display: block;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    #nav .subnav a {
        padding: 5px 12px;
    }
    .ql__slider-content {
        display: none;
    }

    .ql__navbar__form-search {
        display: none;
    }

    .ql__navbar__user-container {
        display: none;
    }

    .mobile__menu-btn {
        display: block;
    }

    .ql_css {
        display: none !important;
    }

    .ddt__product-container {
        flex-direction: column;
    }

    .background-nqt {
        margin-top: 600px;
    }
    .ql1234 {
        width: auto !important;
        margin: 0 !important;
    }
    .sample__content {
        width: auto;
    }
    .Ducktai {
        margin-bottom: 500px;
    }
}