{% load static %}
<!DOCTYPE html>
        {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> {% endcomment %}

<html>
     <head>
        <meta charset="utf-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <link rel="icon" type="image/x-icon" href="{% static "site1\logo\vigor_logo_2.png" %}"  sizes="32x32" >

        
        <link href="{% static 'site1/css/base.css' %}" rel="stylesheet">
        
        
        <link href="{% static 'site1/css/healthinfo.css' %}" rel="stylesheet">
        <link href="{% static 'site1/css/loseweight_exercises.css' %}" rel="stylesheet"> 
        <link href="{% static 'site1/css/tools.css' %}" rel="stylesheet">
        <link href="{% static 'site1/css/calo.css' %}" rel="stylesheet">
        <link href="{% static 'site1/css/forms.css' %}" rel="stylesheet">
        <link href="{% static 'site1/css/main.css' %}" rel="stylesheet">
        <link href="{% static 'site1/css/introduction.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'site1/css/qlResIndex.css' %}">
        <link rel="stylesheet" href="{% static 'site1/css/qlResIndex_body.css' %}">
        <link rel="stylesheet" href="{% static 'site1/css/navbar.css' %}">
        
        <link href="{% static 'site1/css/npresponsiveP2.css' %}" rel='stylesheet'>
        

        <link rel="stylesheet" href="{% static 'site1/font/themify-icons-font/themify-icons/themify-icons.css' %}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
        <script src="{% static 'site1/js/forms.js' %}"></script>
        <script src="{% static 'site1/js/blog.js' %}"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>       
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
    
        {% comment %} <title>Trang chủ</title> {% endcomment %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assests/font/themify-icons-font/themify-icons/themify-icons.css">


    </head>

    <body>

        <section class="nav-bar">
            <div class="ql__main">
                <div class="ql__header">
                    <div id="header">
                        <div class="left">
                            <a href="{% url  'home'%}" class="ql__navbar__logo-img">
                                
                            </a>
                            <ul id="nav">
                                <li><a class="chu_the_a" href="{% url 'home' %}">Trang chủ</a></li>
                                <li><a class="chu_the_a" href="{% url 'introduction' %}">Chúng tôi</a></li>
                                <li>
                                    <a class="chu_the_a" href="{% url 'list-news' %}">
                                        Tin tức
                                        <i class="nav-arrowdown ti-angle-down"></i>
                                    </a>
                                    <ul class="subnav">
                                        <li><a href="{% url 'news' 'suc-khoe'%}">Tin tức Sức khỏe</a></li>
                                        <li><a href="{% url 'news' 'the-thao'%}">Tin tức Thể thao</a></li>
                                        <li><a href="{% url 'news' 'khoa-hoc'%}">Tin tức Khoa học</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="chu_the_a" href="{% url 'tools' %}">
                                        Công cụ
                                        <i class="nav-arrowdown ti-angle-down"></i>
                                    </a>
                                    <ul class="subnav">
                                        <li><a href="{% url 'tools'%}">BMI, BMR, TDEE</a></li> <!-- 3 cái dẫn đến chung 1 trang cũng kêu làm subnav ? -->
                                        <li><a href="{% url 'calo'%}">Tính Calo</a></li>
                                        <li><a href="{% url 'upload'%}">Nhận diện món ăn</a></li>
                                    </ul>
                                </li>
                                {% comment %} <li><a class="chu_the_a" href="{% url 'blog' %}">Blog</a></li> {% endcomment %}
                                {% comment %} <li><a class="chu_the_a" href="{% url 'loseweight' %}">Tìm hiểu thêm</a></li> {% endcomment %}
                                <li>
                                    <a class="chu_the_a" href="{% url 'blog' %}">
                                        Blog
                                        <i class="nav-arrowdown ti-angle-down"></i>
                                    </a>
                                    <ul class="subnav">
                                        <li><a href="{% url 'blog' %}">Xem Blog</a></li>
                                        <li><a href="{% url 'write_blog'%}">Viết Blog</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="chu_the_a" href="{% url 'loseweight' %}">
                                        Tìm hiểu thêm
                                        <i class="nav-arrowdown ti-angle-down"></i>
                                    </a>
                                    <ul class="subnav">
                                        <li><a href="{% url 'loseweight'%}">Giảm cân</a></li>
                                        <li><a href="{% url 'list-fruits'%}">Một số loại Hoa Quả</a></li>
                                        <li><a href="{% url 'list-foods'%}">Một số Thực Phẩm</a></li>
                                       
                                    </ul>
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="right">
                            <div class="ql__navbar__form-search">
                                <form class="ql__navbar__form" method = POST action = "{% url 'search' %}" >
                                    <input type="text" placeholder="Search Product" style="color: #fff; font-size: 16px" id ="searched" name= "searched">
                                    <i class="navbar__icon fa-solid fa-magnifying-glass"></i>
                                </form>
                            </div>
                            <script
                            src="https://code.jquery.com/jquery-3.7.1.min.js"
                            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                            crossorigin="anonymous">
                            </script>
                            <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
                            <script>
                            $( function() {
                                    $( "#searched" ).autocomplete({
                                    source: "{% url 'autosuggest' %}",
                                    
                                    });
                                } );
                            </script>
                            
    
                            <div class="ql__navbar__user-container">
                                <div class="ql__navbar__user">
                                    <i class="fa-regular fa-user"></i>
                                    {% if user.is_authenticated %}
                                    <a href="#" class="ql__navbar__user-acc">{{user.username}}</a>
                                    {% else %}
                                    <a href="{% url 'login' %}" class="ql__navbar__user-acc">Đăng Nhập</a>
                                    {% endif %}
                                </div>
                                <ul class="ql__navbar__user-list">
                                    <li class="ql__navbar__user-item">
                                        <a href="" class="ql__navbar__user-item-link">
                                            <i class="navbar__icon quanle_icon fa-solid fa-bars-progress"></i>
                                            Trang cá nhân
                                        </a>
                                    </li>
                                    <li class="ql__navbar__user-item">
                                        <a href="" class="ql__navbar__user-item-link">
                                            <i class="navbar__icon quanle_icon fa-solid fa-key"></i>
                                            Quên mật khẩu
                                        </a>
                                    </li>
                                    {% comment %} <li class="ql__navbar__user-item">
                                        <a href="" class="ql__navbar__user-item-link">
                                            <i class="navbar__icon quanle_icon fa-solid fa-cart-shopping"></i>
                                            Thông tin thêm
                                        </a>
                                    </li> {% endcomment %}
                                    <li class="ql__navbar__user-item">
                                        <a href="" class="ql__navbar__user-item-link">
                                            <i class="navbar__icon quanle_icon fa-solid fa-right-from-bracket"></i>
                                            Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </div>
    
                            <div id="mobile-menu" class="mobile__menu-btn">
                                <i class="menu-icon ti-menu"></i>
                            </div>
                        </div>
                    </div>
                </div>
    
                
            </div>



        </section>

        <script>
            var header = document.getElementById('header');
            var mobileMenu = document.getElementById('mobile-menu');
            var headerHeight = header.clientHeight;
    
            mobileMenu.onclick = function() {
                var isClosed = header.clientHeight === headerHeight;
                if(isClosed) {
                    header.style.height = 'auto';
                }
                else {
                    header.style.height = null;
                }
            }
    
    
            var menuItems = document.querySelectorAll('#nav li a[href*="#"]');
            for(var i = 0; i < menuItems.length; i++) {
                var menuItem = menuItems[i];
                
                menuItem.onclick = function(event) {
                    var isParentMenu = this.nextElementSibling && menuItem.nextElementSibling.classList.contains('subnav');
                    if(isParentMenu) {
                        event.preventDefault();
                    }
                    else {
                        header.style.height = null;
                    }
                }
            }
        </script>

        

    {% block main-content%}{%endblock main-content%}

    {% block introduction-content%}{%endblock introduction-content%}

    {% block heallthinfo-content%} {%endblock heallthinfo-content%}

    {% block loseweight-content%}{%endblock loseweight-content%}
    
    {% block calo-content%}{% endblock calo-content%}

    {%block tools-content%} {%endblock tools-content%} 

    {%block register%} {%endblock register%}

    {%block fruits-content%} {%endblock fruits-content%}

    {%block write-blog%}{%endblock write-blog%}


    {% block foods-content %}{% endblock foods-content %}
    
    {% block foods-page-content%}{%endblock foods-page-content%}


    {%block listfruits-content%}{%endblock listfruits-content%}

    {% block fruits-page-content%}{%endblock fruits-page-content%}


    {% block news-content %}{% endblock news-content %}

    {% comment %} {%block register%}{%endblock register%} {% endcomment %}

    {%block login%}{%endblock login%}

    {% block detailsfoods-content %}{% endblock detailsfoods-content %}

    {% block listnews-content %}{% endblock listnews-content %}
    {% block upload %} {% endblock upload %}
    <section class="background-nqt">
        <div class="NQT_container">
            <div class="NQT_row">

                <div class="pos">
                    <div class="single-cat mb-50">
                        <div class="icon">
                            <img src="https://preview.colorlib.com/theme/furn/assets/img/icon/services1.svg"
                                style="width:25%; height:25%;" alt="hinh">
                        </div>
                        <div class="cap">
                            <h5>Nhanh và Chắc</h5>
                            <p>Hãy tin tưởng vào chúng tôi!</p>
                        </div>
                    </div>
                </div>
                <div class="pos">
                    <div class="single-cat mb-50">
                        <div class="icon">
                            <img src="https://preview.colorlib.com/theme/furn/assets/img/icon/services2.svg"
                                style="width:25%; height:25%;" alt="hinh">
                        </div>
                        <div class="cap">
                            <h5>Bảo mật</h5>
                            <p>An toàn và bảo vệ bạn</p>
                        </div>
                    </div>
                </div>
                <div class="pos">
                    <div class="single-cat mb-50">
                        <div class="icon">
                            <img src="https://preview.colorlib.com/theme/furn/assets/img/icon/services3.svg"
                                style="width:25%; height:25%;" alt="hinh">
                        </div>
                        <div class="cap">
                            <h5>Chính sách hợp lý</h5>
                            <p>
                                Đảm bảo quyền lợi của bạn
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pos">
                    <div class="single-cat mb-50">
                        <div class="icon">
                            <img src="https://preview.colorlib.com/theme/furn/assets/img/icon/services4.svg"
                                style="width:25%; height:25%;" alt="hinh">
                        </div>
                        <div class="cap">
                            <h5>Luôn bên bạn</h5>
                            <p>Chúng tôi luôn lắng nghe và chia sẻ!</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <footer>
            <div class="footer-wrapper" id ="fter">
                <div class="footer-area footer-padding">
                    <div class="NQT_container">
                        <div class="NQT_row NQT_justify-content-between">

                            <div class="pos">
                                <div class="mb-50">
                                    <div class="mb-30">
                                        <a href="#">
                                            <img class="logo_text" src={% static "site1/logo/logo-chu.png"%} alt="logo" width = "50%" height= "50%">
                                        </a>
                                        <p>
                                             Chúng tôi mong muốn truyền cảm hứng cho các cá nhân đưa ra những lựa chọn sáng suốt nhằm nâng cao sức sống thể chất, tinh thần và cảm xúc của mỗi người</p>
                                    </div>
                                </div>

                                <div>
                                    <div class="footer-social">
                                        <a href=""><i class="fa fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                                    </div>
                                </div>
                            </div>



                            <div class="pos">
                                <div class="mb-50">
                                    <div class="mb-30 NQT_a" style="text-align: center; color:white;">
                                        <h4 style="margin-bottom: 2.5rem;">Quick links
                                        </h4>
                                        <ul class="NQT_ul">
                                            <li class="NQT_li"><a href="#">Image Licensin</a></li>
                                            <li class="NQT_li"><a href="#">Style Guide</a></li>
                                            <li class="NQT_li"><a href="#">
                                                    Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="pos">
                                <div class="mb-50">
                                    <div class="mb-30 NQT_a" style="text-align: center; color:white;">
                                        <h4 style="margin-bottom: 2.5rem;">Shop Category</h4>
                                        <ul>
                                            <li class="NQT_li"><a href="#">Image Licensin</a></li>
                                            <li class="NQT_li"><a href="#">Style Guide</a></li>
                                            <li class="NQT_li"><a href="#">
                                                    Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="pos">
                                <div class="mb-50">
                                    <div class="mb-30 NQT_a" style="text-align: center; color:white;">
                                        <h4 style="margin-bottom: 2.5rem;">Pertners</h4>
                                        <ul>
                                            <li class="NQT_li"><a href="#">Image Licensin</a></li>
                                            <li class="NQT_li"><a href="#">Style Guide</a></li>
                                            <li class="NQT_li"><a href="#">
                                                    Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="copyright">
                                <p>
                                    Copyright &#169 2024 by Group 4 - University of Information Techonology - VNU</a>
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </section>
    
     <!--Javacripts-->
     <script src="{% static 'site1/js/navbar.js' %}"></script>
     <script src="{% static 'site1/js/tools.js' %}"></script> <!--Tool-->
     <script src="{% static 'site1/js/calo.js' %}"></script> <!--Calo-->

    </body>
</html>