{% extends 'site1/base.html' %} {% load static %} 
{% block heallthinfo-content%}
<section class="slider-area">
  <div class="slider-area-photo"></div>
  <div class="container">
    <div class="slider-row">
      <div class="col-xl-6 col-lg-8 col-md-8">
        <div class="slider-row-caption">
          <h1>Blog</h1>
          <nav aria-label="slider-nav">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}" tabindex="0">Trang Chủ</a>
              </li>
              <li class="breadcrumb-item"><a href="#" tabindex="0">Blog</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us-section">
  <div class="about-container">
    <div class="about-us-section-row">
      <div class="about-us-section-tittle">
        <h2>
          <a href="{% url 'post' post.id post.title%}" style="color: black"
            >{{ post.title }}</a
          >
        </h2>
        <p class="about-p-long" style="margin-bottom: 2rem">
          {{ post.body|safe }}
        </p>
      </div>
    </div>

    <div class="about-picture-group-1">
      {% for img in post.image_set.all %}
      <div class="about-picture-2">
        <img src="{{ img.image.url }}" alt="" />
        <p class="picture-title-2">{{ img.title }}</p>
      </div>
      {% endfor %}
    </div>

    {% for comment in post.comments.all %}
    <div class="comment">
      <div class="comment-header">
        <h3 class="comment-author">{{ comment.author }}</h3>
        <h4 class="comment-date">{{ comment.date }}</h4>
      </div>
      <p class="comment-body" style="font-size: 16px">{{ comment.body}}</p>
      {% if user.is_authenticated %}
      <div class="reply-form">
        <form action="{% url 'reply_comment' comment.id %}" method="POST">
          {% csrf_token %}
          <textarea name="body"></textarea>
          <button type="submit">Reply</button>
        </form>
      </div>
      {% endif %} 
      {% for reply in comment.replies.all %}
      <div class="reply">
        <div class="reply-header">
          <h4 class="reply-author">{{ reply.author }}</h4>
          <h5 class="reply-date">{{ reply.date }}</h5>
        </div>
        <p class="reply-body">{{ reply.body }}</p>
      </div>
    </div>
    {% endfor %} 
    {% if user.username %}
    <div class="comment-form-container">
      <form
        action="{% url 'post' post.id post.title %}"
        method="POST"
        class="comment-form"
      >
        {% csrf_token %}
        <div class="form-group">
          <label for="comment-body">Bình luận:</label>
          {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Gửi Bình luận</button>
      </form>
    </div>
    {% endif %}
    {% endfor %} 

  </div>
</section>
{% endblock heallthinfo-content %}
